body {
  overflow: hidden; /* Hide scrollbars */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

.App {
  text-align: center;
}



.WebCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  padding: 0;
  margin: 0;
}

.gallery {
  width: 100%;
  height: 100%;
    object-fit: cover;

}

.imgGallery {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.line {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 5px;
  width: 0%;
  background-color: white;
  box-shadow: 1px 1px 20px black;
  animation: fillLine 10.8s linear forwards;
  z-index: 500;
}

@keyframes fillLine {
  from {
    width: 0%;
  }
  to {
    width: 98%;
  }
}

.modalCont{
  position: absolute;
  backdrop-filter: blur(10px);
  background-color: rgb(40, 44, 52, 30%);
  z-index: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s all ease-in-out;

}

.tittleCont{
 position: relative;
 bottom: 5rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.tittle {
  font-family: 'Cairo';
  margin: 0.5rem;
  font-size: 2rem;
  padding: 0.25rem 1rem;
  color: white;
  width: fit-content;
  cursor: pointer;
  transition: .5s all ease-in-out;
  border: none;
}


.optionTittle {
  font-family: 'Cairo';
  margin: 0.5rem;
  font-size: 2rem;
  padding: 0.25rem 1rem;
  font-weight: bolder;
  background-color: #282c34;
  color: white;
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  transition: .5s all ease-in-out;
  border: none;

}

.optionTittle:hover {
  background-color: rgb(255, 255, 255, 90%);
  color: #282c34;

}

.modalTittle {
  font-family: 'Cairo';
  margin: 0.5rem;
  font-size: 4rem;
  padding: 0.25rem 1rem;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  transition: .5s all ease-in-out;
  border: none;

}



.siguienteButton {
  width: 10%;
  position: absolute;
  right: 0;
  background: none;
  opacity: 0%;
  border: none;
  color: white;
  transition: 0.5s all ease-in-out;
 cursor: pointer;
 font-family: 'Cairo';
 z-index: 400;
}

.siguienteButton:hover {
  backdrop-filter: blur(3px);
  background-color: rgba(34, 153, 190, 0.1);
  opacity: 100%;

}

.atrasButton {
  width: 10%;
  position: absolute;
  left: 0;
  background: none;
  opacity: 0%;
  border: none;
  color: white;
  transition: 0.5s all ease-in-out;
 cursor: pointer;
 font-family: 'Cairo';
 z-index: 400;
}

.atrasButton:hover {
  backdrop-filter: blur(3px);
  background-color: rgba(34, 153, 190, 0.1);
  opacity: 100%;

}

.textscont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 2rem;
  margin: 0 auto;
  width: 90%;
  height: 90%;
  padding: 1rem;
  opacity: 0%;
  transition: 1s all ease-in-out;
}

.opacity100 {
  opacity: 100%;
  transition: 1s all ease-in-out;
}

.sectionZeroCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
  background-color: #282c34;
}

.parrafo {
  font-family: 'Open Sans';
  text-align: center;
  padding: 0.5rem 25%;
}

.parrafoZero {
  font-family: 'Open Sans';
  text-align: center;
  padding: 0.5rem 25%;
}

.zindex1000{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 5px;
  position: absolute;
  backdrop-filter: blur(10px);
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  transition: 1s all ease-in-out;
}

.logoEduc {
  width: 10rem;
  height: fit-content;
  position: absolute;
  top: 1rem;
  left: 1rem;

}

.logoEducPlacas {
  width: 10rem;
  height: fit-content;
  position: absolute;
  bottom: 2rem;

}


/* MEDIA QUERY */

@media only screen and (min-width: 601px) {

  .none-desktop {
      display: none !important;
  }
}

@media only screen and (min-width: 600px) and  (max-width: 1200px) {


}


@media only screen and (min-width: 100px) and  (max-width: 600px) {

  .none-mobile {
      display: none !important;
  }

.tittle {
  line-height: 2rem;
}
  
  .modalTittle {

    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;

  
  }

  .optionTittle {
    font-size: 1.2rem;
    padding: 0.25rem 1rem;

  }

  
.siguienteButton {
  width: 30%;
}

.siguienteButton:hover {
  opacity: 0%;
}

.atrasButton {
  width: 30%;
}

.atrasButton:hover {
  opacity: 00%;
}

.parrafo {

  padding: 0.5rem 1rem;
}

.parrafoZero {

  padding: 0.5rem 1rem;
}


.textscont {

  width: 85%;

}
  
}