

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  overflow: hidden;
}
html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}



.WebCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  padding: 0;
  margin: 0;
  height: 100%;
}

.gallery {
  width: 100%;
  height: 100%;
    object-fit: cover;
    background-color: #191919;
opacity: 0.2;
background-image: radial-gradient(#ffffff 0.75px, #191919 0.75px);
background-size: 15px 15px;
}

.imgGallery {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.line {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 5px;
  width: 0%;
  background-color: white;
  box-shadow: 1px 1px 20px black;
  animation: fillLine 10.8s linear forwards;
  z-index: 500;
}

@keyframes fillLine {
  from {
    width: 0%;
  }
  to {
    width: 98%;
  }
}

.modalCont{
  position: absolute;
  backdrop-filter: blur(10px);
  background-color: rgb(40, 44, 52, 30%);
  z-index: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s all ease-in-out;

}

.tittleCont{
 position: relative;
 bottom: 5rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.tittle {
  font-family: 'Cairo';
  margin: 0.5rem;
  font-size: 2rem;
  padding: 0.25rem 1rem;
  color: white;
  width: fit-content;
  cursor: pointer;
  transition: .5s all ease-in-out;
  border: none;
}


.optionTittle {
  font-family: 'Cairo';
  margin: 0.5rem;
  font-size: 2rem;
  padding: 0.25rem 1rem;
  font-weight: bolder;
  background-color: #282c34;
  color: white;
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  transition: .5s all ease-in-out;
  border: none;
z-index: 1000;
text-decoration: none;
}

.optionTittle:hover {
  background-color: rgb(255, 255, 255, 90%);
  color: #282c34;

}

.modalTittle {
  font-family: 'Cairo';
  margin: 0rem;
  font-size: 4rem;
  padding: 0.25rem 0.5rem;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  transition: .5s all ease-in-out;
  border: none;

}



.siguienteButton {
  width: 10%;
  position: absolute;
  right: 0;
  background: none;
  opacity: 0%;
  border: none;
  color: white;
  transition: 0.5s all ease-in-out;
 cursor: pointer;
 font-family: 'Cairo';
 z-index: 400;
}

.siguienteButton:hover {
  backdrop-filter: blur(3px);
  background-color: rgba(34, 153, 190, 0.1);
  opacity: 100%;

}

.atrasButton {
  width: 10%;
  position: absolute;
  left: 0;
  background: none;
  opacity: 0%;
  border: none;
  color: white;
  transition: 0.5s all ease-in-out;
 cursor: pointer;
 font-family: 'Cairo';
 z-index: 400;
}

.atrasButton:hover {
  backdrop-filter: blur(3px);
  background-color: rgba(34, 153, 190, 0.1);
  opacity: 100%;

}

.textAndPicCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 2rem;
  margin: 0 auto;
  width: 90%;
  padding: 0.5rem;
  height: 90%;
  
  opacity: 0%;
  transition: 1s all ease-in-out;
}


.opacity100 {
  opacity: 100%;
  transition: 1s all ease-in-out;
}

.sectionZeroCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
  background-color: #282c34;
}

.parrafo {
  font-family: 'Open Sans';
  text-align: center;
  padding: 0.5rem 10%;
  margin: 0;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  transition: 0.5s all ease-in-out;
}



.parrafoZero {
  font-family: 'Open Sans';
  text-align: center;
  padding: 0.5rem 25%;
}

.zindex1000{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0);
  text-align: center;
  border-radius: 5px;
  position: absolute;

  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  transition: 1s all ease-in-out;
}

.zindex10002{
z-index: 1000;
}

.logoEduc {
  width: 10rem;
  height: fit-content;
  position: absolute;
  top: 1rem;
  left: 1rem;

}

.logoEducPlacas {
  width: 10rem;
  height: fit-content;
  position: absolute;
  bottom: 2rem;
  opacity: 50%;
}



.picStyle {
  width: fit-content;
  height: 90%;
  object-fit: cover;
  margin: 0rem 0.5rem;
}

.texthover {
  cursor: pointer;
  color: white;
}

.texthover:hover {
  color: rgb(124, 182, 199);
}

.w70 {
  width: 70%;
}


/* LINEA DE TIEMPO CARDS */

.lineaItemCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.textsCont{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(59, 59, 59, 20%);
  border-radius: 15px;
  padding: 3rem;
  
}

.columnaLineaTexts {
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40vw;
  margin: 0 2rem;
  position: relative;
  padding: 2rem;
}

.lineaItemTittle {
   font-family: 'Cairo';
  margin: 0rem;
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  border-radius: 5px;
  line-height: 1.7rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  border: none;
  text-transform: uppercase;
}

.lineaFecha {
  font-family: 'Cairo';
  margin: 0rem;
  font-size: 2rem;
  position: absolute;
  top: 10vh;
  width: fit-content;
  margin: 0 auto;
  font-weight: bolder;
  color: #191919;
  background-color: white;
  border: solid 2px white;
  border-radius: 5px;
  padding: 0rem 1rem;
  cursor: pointer;
  transition: .5s all ease-in-out;

}

.lineaFecha2 {
  font-family: 'Cairo';
  margin: 0rem;
  font-size: 1rem;
  position: absolute;
  bottom: 10vh;
  right: 13%;
  font-weight: bolder;
  color: #191919;
  background-color: white;
  border: solid 2px white;
  border-radius: 5px;
  padding: 0rem 1rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  text-decoration: none;

}

.lineaFecha3 {
  font-family: 'Cairo';
  margin: 0rem;
  font-size: 1rem;
  position: absolute;
  bottom: 10vh;
  left: 13%;
  font-weight: bolder;
  color: #191919;
  background-color: white;
  border: solid 2px white;
  border-radius: 5px;
  padding: 0rem 1rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  text-decoration: none;
}



.lineaItemSubTittle {
  font-family: 'Open Sans';
  
  position: absolute;
  top: 19vh;
  left: 48%;
  margin: 0 auto;
  font-size: 0.8rem;
  text-decoration: none;
  color: white;
  transition: 0.5s all ease-in-out;
}

.lineaItemText {
    font-family: 'Open Sans';

  margin: 1rem 0;
  font-size: 1rem;
  text-decoration: none;
  color: white;
  transition: 0.5s all ease-in-out;
}

.lineaLínea {
  margin: 0 2rem;
  height: 100vh;
  width: 0.1rem;
  background-color: white;
}

.lineImg {
  width: 20vw;
  border-radius: 10px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.lineImgG {
  width: 25vw;
  border-radius: 10px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.imgAligRight {
object-position: right;
}

.lineainicio {
  width: 0.1rem;
  margin: 0;
  background-color: white;
  height: 30vh;
  position: absolute;
  left: 50%;
  bottom: 0;
}

.linea1 {
  width: 0.1rem;
  margin: 0;
  background-color: white;
  height: 5vh;
  position: absolute;
  left: 20%;
  top: 0;
}

.linea1primero {
  width: 0.1rem;
  margin: 0;
  background-color: white;
  height: 5vh;
  position: absolute;
  left: 50%;
  top: 0;
}



.linea2 {
  margin: 0;
  background-color: white;
  height: 0.1rem;
  width: 30vw;
  position: absolute;
  left: 20%;
  top: 5vh;
}

.linea3 {
  margin: 0;
  background-color: white;
  height: 5vh;
  width: 0.1rem;
  position: absolute;
  left: 50vw;
  top: 5vh;
}

.linea4 {
  margin: 0;
  background-color: white;
  height: 5vh;
  width: 0.1rem;
  position: absolute;
  right: 20vw;
  bottom: 5vh;
}

.linea5 {
  margin: 0;
  background-color: white;
  height: 0.1rem;
  width: 30vw;
  position: absolute;
  right: 20vw;
  bottom: 5vh;
}

.linea6 {
  width: 0.1rem;
  margin: 0;
  background-color: white;
  height: 5vh;
  position: absolute;
  right: 20vw;
  bottom: 0;
}

.linea1b {
  width: 0.1rem;
  margin: 0;
  background-color: white;
  height: 5vh;
  position: absolute;
  right: 20vw;
  top: 0;
}


.linea2b {
  margin: 0;
  background-color: white;
  height: 0.1rem;
  width: 30vw;
  position: absolute;
  right: 20vw;
  top: 5vh;
}

.linea3b {
  margin: 0;
  background-color: white;
  height: 5vh;
  width: 0.1rem;
  position: absolute;
  right: 50vw;
  top: 5vh;
}

.linea4b {
  margin: 0;
  background-color: white;
  height: 5vh;
  width: 0.1rem;
  position: absolute;
  left: 20vw;
  bottom: 5vh;
}

.linea6b {
  width: 0.1rem;
  margin: 0;
  background-color: white;
  height: 5vh;
  position: absolute;
  left: 20vw;
  bottom: 0;
}


.linea4c {
  margin: 0;
  background-color: white;
  height: 5vh;
  width: 0.1rem;
  position: absolute;
  left: 50vw;
  bottom: 5vh;
}

.linea5c {
  margin: 0;
  background-color: white;
  height: 0.1rem;
  width: 30vw;
  position: absolute;
  left: 20vw;
  bottom: 5vh;
}

.linea6c {
  width: 0.1rem;
  margin: 0;
  background-color: white;
  height: 5vh;
  position: absolute;
  right: 20vw;
  bottom: 0;
}

.buttonLeerMás {
  font-family: 'Cairo';
  margin: 0 2rem;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #191919;
  background-color: white;
  border: solid 2px white;
  border-radius: 5px;
  padding: 0rem 0.5rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
}

.volver1 {
  font-family: 'Cairo';
  margin: 0rem;
  font-size: 0.8rem;
  position: absolute;
  font-weight: bolder;
  color: #191919;
  background-color: white;
  border: solid 2px white;
  border-radius: 5px;
  padding: 0rem 0.5rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  text-decoration: none;
  left: 20%;
  top: 8vh;

}

.volver1primero {
  font-family: 'Cairo';
  margin: 0rem;
  font-size: 0.8rem;
  position: absolute;
  font-weight: bolder;
  color: #191919;
  background-color: white;
  border: solid 2px white;
  border-radius: 5px;
  padding: 0rem 0.5rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  text-decoration: none;
  left: 10%;
  top: 1vh;
  z-index: 1000;

}

.openLineButton {
  font-family: 'Cairo';
  margin: 0rem;
  font-size: 0.8rem;
  position: absolute;
  font-weight: bolder;
  color: white;
  border: solid 2px white;
  background: none;
  border-radius: 5px;
  padding: 0rem 0.5rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  text-decoration: none;
  right: 15%;
  top: 3vh;
  z-index: 1000;

}

.openLineButton:hover {
  background-color: white;
  color: #282c34;
}

.openLineButtonInv {
  font-family: 'Cairo';
  margin: 0rem;
  font-size: 0.8rem;
  position: absolute;
  font-weight: bolder;
  color: #282c34;
  border: solid 2px #282c34;
  background: none;
  border-radius: 5px;
  padding: 0rem 0.5rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  text-decoration: none;
  right: 15%;
  top: 3vh;
  z-index: 1000;

}

.openLineButtonInv:hover {
  background-color:  #282c34;
  color: white;
}




.openLineButton2 {
  font-family: 'Cairo';
  margin: 0rem;
  font-size: 0.8rem;
  position: absolute;
  font-weight: bolder;
  color: white;
  border: solid 2px white;
  background: none;
  border-radius: 5px;
  padding: 0rem 0.5rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  text-decoration: none;
  left: 15%;
  top: 3vh;
  z-index: 1000;

}
.openLineButton2:hover {
  background-color: white;
  color: #282c34;
}

.openLineButtonPrimera {
  font-family: 'Cairo';
  margin: 0rem;
  font-size: 0.8rem;
  position: absolute;
  font-weight: bolder;
  color: white;
  border: solid 2px white;
  background: none;
  border-radius: 5px;
  padding: 0rem 0.5rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  text-decoration: none;
  left: 18%;
  top: 1vh;
  z-index: 1000;

}

.openLineButtonPrimera:hover {
  background-color: white;
  color: #282c34;
}



.volver2 {
  font-family: 'Cairo';
  margin: 0rem;
  font-size: 0.8rem;
  position: absolute;
  font-weight: bolder;
  color: #191919;
  background-color: white;
  border: solid 2px white;
  border-radius: 5px;
  padding: 0rem 0.5rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  text-decoration: none;
  right: 20%;
  top: 8vh;

}

.alignLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.todalalinea {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1200;
  background-color: rgb(255, 255, 255);


}


.todalalineaYear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: 'Cairo';
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0;
  font-weight: bolder;
  color: black;
  padding: 0rem;
  cursor: pointer;
  transition: .5s all ease-in-out;
  text-decoration: none;
  opacity: 80%;
  transition: 0.5s all ease-in-out;
  max-width: 10rem;
  height: 6rem;

}

.todalalineaYearText {
  margin: 0;
  text-align: center;
}

.bggrey {
  background-color: #191919;
  color: white ;
  width: 100%;
 text-align: center;
}

.todalalineaYear:hover {
  opacity: 100%;
  background-color: #bcbcbc;
  color: white ;
}


.todalalineaLINEA {
  height: 1rem;
  width: 0.1rem;
  background-color: #191919;
  margin: 0;
  opacity: 80%;
  transition: 0.5s all ease-in-out;
}


 
  .todalalineaItemTittle {
    font-family: 'Cairo';
   margin: 2rem;
   font-size: 2.2rem;
   font-weight: bolder;
   color: #191919;
   border-radius: 5px;
   line-height: 1.7rem;
   cursor: pointer;
   transition: .5s all ease-in-out;
   border: none;
   text-transform: uppercase;
 }


.grain {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  opacity: 10%;
}

.creditosContR {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-family: 'Cairo';
}

.creditosContL {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 0rem;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-family: 'Cairo';
}

.button2 {
  font-family: 'Cairo';
  background: none;
  color: white;
border: none;
margin: 0 0.25rem;
padding: 0 0.15rem;
  cursor: pointer;
  font-weight: bold;
  background-image: linear-gradient(120deg, #fcfba1 0%, #a9f6c2 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 50%;
  transition: all 0.25s ease-in;
  font-size: 1rem;
  line-height: 1rem;
  color: #282c34;

}

.button2:hover {
  background-size: 100% 100%;
  color: grey;
}

.links {
  font-family: 'Cairo';
  color: white;
margin: 0 0.25rem;
  padding: 0 0.15rem;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(120deg, #afa1fc 0%, #949af1 100%);
  background-repeat: no-repeat;
  background-size: 100% 60%;
  background-position: 0 50%;
  transition: all 0.25s ease-in;
  font-size: 1rem;
  line-height: 1rem;
  color: #282c34;

}

.links:hover {
  color: white;
}
.creditos {
  color: white;
  text-decoration: none;
  font-size: 0.7rem;
  font-family: 'Cairo';
  margin: 0;
}

.clickText {
  font-family: 'Cairo';
  font-size: 0.8rem;
  font-weight: bolder;
  border-radius: 5px;
  position: absolute;
  bottom: -3rem;
  right: -2rem;
  background-image: linear-gradient(120deg, #fcfba1 0%, #a9f6c2 100%);
  background-repeat: no-repeat;
  background-size: 130% 110%;
  background-position: 0 110%;
  color: #000000;
  padding: 0 0.5rem;
  margin: 0 0.5rem 0 0;
  opacity: 0.35;
  transition: 0.5s all ease-in-out;
}


.clickText:hover {
  opacity: 1;
}

.clickText2 {
  font-family: 'Cairo';
  font-size: 0.8rem;
  font-weight: bolder;
  border-radius: 5px;
  position: absolute;
  bottom: -5rem;
  right: -2rem;
  background-image: linear-gradient(120deg, #afa1fc 0%, #949af1 100%);

  color: #000000;
  padding: 0 0.5rem;
  margin: 0 0.5rem 0 0;
  opacity: 0.35;
  transition: 0.5s all ease-in-out;
}



.clickText2:hover {
  opacity: 1;
}

.referencesCont {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: fit-content;
}

.popUp {
  font-family: 'Open Sans';
  margin: 1rem 0;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.5s all ease-in-out;
  width: 50%;
  height: fit-content;
  position: absolute;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.755);
  backdrop-filter: blur(10px);
  color: black;
  z-index: 2000;
  border-radius: 5px;
}

.infoCompTittle {
  width: fit-content;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

.closeModal {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(219, 126, 126);
  color: rgb(121, 26, 26);
  padding: 0.25rem 0.5rem;
  border: none;
  border-radius: 0 5px 0 0;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.closeModal:hover {
  background-color: rgb(193, 86, 86);
}

.todalalineaRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin: 0.5rem 0;
  width: fit-content;
  

}

.anioTodaLaLinea {
  font-family: 'Cairo';
  height: 6rem;
  margin: 0rem;
  font-size: 2rem;
  width: fit-content;
  font-weight: bolder;
  color: white;
  background-color: #282c34;
  border: solid 2px white;
  border-radius: 5px;
  padding:0rem 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: .5s all ease-in-out;

}

/* MEDIA QUERY */

@media only screen and (min-width: 601px) {

  .none-desktop {
      display: none !important;
  }
}

@media only screen and (min-width: 600px) and  (max-width: 1200px) {


}


@media only screen and (min-width: 100px) and  (max-width: 600px) {

  body {
    overflow:auto; /* Hide scrollbars */
    overflow-x: hidden; /* Hide scrollbars */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  .none-mobile {
      display: none !important;
  }

.tittle {
  line-height: 2rem;
}
  
  .modalTittle {

    font-size: 2rem;
    padding: 0.25rem 0.5rem;

  
  }

  .optionTittle {
    font-size: 1.2rem;
    padding: 0.25rem 1rem;

  }

  
.siguienteButton {
  width: 20%;
}

.siguienteButton:hover {
  opacity: 0%;
}

.atrasButton {
  width: 20%;
}

.atrasButton:hover {
  opacity: 0%;
}

.parrafo {
  font-size: 0.9rem;

}

.parrafoZero {

  padding: 0.5rem 1rem;
}


.textscont {
  
  width: 85%;

}


.textAndPicCont {

  flex-direction: column;
  height: 95%;
width: 95%;
padding: 0rem;
margin: 0;
}


.w70 {
  width: 90%;
}

.picStyle {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  height: 30%;
  object-fit: cover;
  margin: 0rem;
  position: relative;
  bottom: 4rem;
  border-radius: 5px;
  z-index: 600;
}

}