body {
  overflow: hidden; /* Hide scrollbars */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.WebCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
  padding: 0;
  margin: 0;
}

.gallery {
  width: 100%;
  height: 100%;
    object-fit: cover;

}

.imgGallery {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.line {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 5px;
  width: 0%;
  background-color: white;
  box-shadow: 1px 1px 20px black;
  animation: fillLine 30.8s linear forwards;
  z-index: 500;
}

@keyframes fillLine {
  from {
    width: 0%;
  }
  to {
    width: 98%;
  }
}

.modalCont{
  position: absolute;
  backdrop-filter: blur(10px);
  background-color: rgb(40, 44, 52, 30%);
  z-index: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s all ease-in-out;

}

.tittleCont{
 position: relative;
 bottom: 5rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.modalTittle {
  font-family: 'Cairo';
  margin: 0.5rem;
  font-size: 2rem;
  padding: 0.25rem 1rem;
  color: white;
  background-color: rgb(255, 255, 255, 40%);
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  transition: .5s all ease-in-out;
  border: none;

}

.modalTittle:hover {
  background-color: rgb(255, 255, 255, 90%);
  color: #282c34;

}

.siguienteButton {
  width: 10%;
  position: absolute;
  right: 0;
  background: none;
  opacity: 0%;
  border: none;
  color: white;
  transition: 0.5s all ease-in-out;
 cursor: pointer;
 font-family: 'Cairo';
 z-index: 400;
}

.siguienteButton:hover {
  backdrop-filter: blur(3px);
  background-color: rgba(34, 153, 190, 0.1);
  opacity: 100%;

}

.atrasButton {
  width: 10%;
  position: absolute;
  left: 0;
  background: none;
  opacity: 0%;
  border: none;
  color: white;
  transition: 0.5s all ease-in-out;
 cursor: pointer;
 font-family: 'Cairo';
 z-index: 400;
}

.atrasButton:hover {
  backdrop-filter: blur(3px);
  background-color: rgba(190, 195, 32, 0.1);
  opacity: 100%;

}

.textscont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Cairo';
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 5px;
  position: absolute;
  top: 2rem;
  margin: 0 auto;
  width: 50%;

}

.sectionZeroCont {
  color: white;
  background-color: #282c34;
}

.parrafo {
  font-family: 'Montserrat';
}

/* MEDIA QUERY */

@media only screen and (min-width: 601px) {

  .none-desktop {
      display: none !important;
  }
}

@media only screen and (min-width: 600px) and  (max-width: 1200px) {


}


@media only screen and (min-width: 100px) and  (max-width: 600px) {

  .none-mobile {
      display: none !important;
  }


  .modalTittle {

    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;

  
  }
  
}